/* COLORS

Green 335		#008066
Green 335 85%	#008d76
Green 335 80%	#00927c
Green 335 60%	#50a696
Blue			#a0d1df
Warm Gray		#9a8b7d
Warm Gray 50%	#cac0b6


	 ========================================================================== */



/* Structure
	 ========================================================================== */
body {font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.sticky {margin-bottom:2.5em;}

header {margin-bottom:1.0em;}


/* Type
	 ========================================================================== */
h1, h2, h3, h4, h5, h6 body {font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

h1 {}

header h1 {color:#008066;}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {color:#676767; font-style:italic;}

p {color:#454545;}

small {font-size:80%;}

dl.sub-nav {background:#efefef;}


/* Links
	 ========================================================================== */
a {color: #008d76;}

a:hover, a:focus {color:#008066;}

.top-bar-section ul li>a.button {
	background-color:#50a696;
	border-color:#008066;}

.top-bar-section ul li>a.button:hover, .top-bar-section ul li>a.button:focus {
	background-color:#008066;}


/* hCard
	 ========================================================================== */
.adr {margin-bottom:1.5em;}

.adr abbr {
	border:0;}

.tel {
	speak:spell-out;
	speak-numeral:digits;}

.adr span {
	display:block;
	margin-bottom:0.25em;}

.adr span.locality, .adr span.region, .adr span.postal-code {
	display:inline-block}

.adr .fn {font-weight:bold;}

.adr .title {font-style:italic;}


/* Footer
	 ========================================================================== */
footer {
	background:#333;
	padding:0 0 10px;
	/* margin:24px 0 0; */}

footer .design-border {
border-bottom: 1px solid #484848;
padding-bottom: 5px;
margin-bottom: 25px;}

footer a.logo {
color: #858585;
font-weight: normal;
background: url('../img/icn/footer-icons.png') no-repeat 0 3px;
padding: 23px 0 0 0 !important;
font-size: 0.88889rem;
display: inline-block;
width: 90px;}

footer a.logo:hover {
opacity: 0.8;
filter: alpha(opacity=80);}

footer ul.links {
margin: 0;
display: inline-block;
padding-bottom: 0px;}

footer ul.links li {
display: block;
float: left;
margin-left: 6px;
text-transform: uppercase;
font-weight: 700;
font-size: 0.75rem;}

footer ul.links li a {
color: #666;
padding: 3px 6px;}

footer ul.links li a:hover {
color: #777;}

footer p.copyright {
margin: 6px 0 0;
font-size: 0.75rem;
color: #666;}

footer ul.social {
display: block;
float: right;
margin-bottom: 8px;}

footer ul.social li {
list-style: none;
display: block;
float: left;
margin-left: 10px;}

footer ul.social li:first-child {
margin-left: 0;}

footer ul.social li a {
display: block;
height: 50px;
width: 50px;
background: url('../img/icn/social.png') no-repeat center 0;}

footer ul.social li a:hover {
opacity: 0.8;
filter: alpha(opacity=80);}

footer ul.social li a.twitter {
background-position: center 0;}

footer ul.social li a.facebook {
background-position: center -200px;}

footer ul.social li a.mail {
background-position: center -400px; }










/* -----------------------------------------
	 Footer
----------------------------------------- */
footer .highlights {
	padding: 40px 0;
	padding-top:64px;
	color: white;
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background:#00927c;
}
footer .highlights .row .columns {
	overflow: hidden;
	*zoom: 1;
}

footer .highlights .property {
	text-align: center;
}
footer .highlights .property .property-info {
}
footer .highlights .property h2 {
	margin: 0;
	padding: 0 !important;
}
footer .highlights .property h2 a {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	font-family: "hills-logo";
	font-weight: normal;
	font-size: 1.125em;
	padding: 0;
}
footer .highlights .property h2 a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
footer .highlights .property h2 a.services {
	width: 190px;
}
footer .highlights .property h2 a span {
	display: none;
}
footer .highlights .property h2 a strong {
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	margin-left: -7px;
}
footer .highlights .property h3 a {
	font-size: 23px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}
footer .highlights .property h4 {
	font-size: 18px;
	font-weight: 200;
	color: white;
	margin-bottom: 10px;
}
footer .highlights .property p, footer .highlights .property li, footer .highlights .property a {
	font-size: 13px;
	line-height: 21px;
	color: white;
}
footer .highlights .property a {
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
}
footer .highlights .property a:hover {
	opacity: 0.8;
}
footer .highlights .property .learn-links, footer .highlights .property .support-links, footer .highlights .property .connect-links {
	padding: 50px 0 0 0;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	background: url('../img/icn/learn-more.svg') no-repeat center 0;
	background-size:32px 32px;
	height: 200px;
	margin-bottom: 30px;}

.no-svg footer .highlights .property .learn-links, .no-svg footer .highlights .property .support-links, .no-svg footer .highlights .property .connect-links {
	background-image: url('../img/icn/learn-more.png');}



footer .highlights .property .learn-links ul, footer .highlights .property .support-links ul, footer .highlights .property .connect-links ul {
	list-style: none;
}
footer .highlights .property .learn-links ul li, footer .highlights .property .support-links ul li, footer .highlights .property .connect-links ul li {
	line-height: 20px;
}

footer .highlights .property .learn-links {
	/*background-position: center -325px;*/}

.no-svg footer .highlights .property .learn-links {
	/*background-position: center -325px;*/}

footer .highlights .property .support-links {
	/*background-position: center -635px;*/
	background-image: url('../img/icn/be-heard.svg');
	background-size:28px 32px;}

.no-svg footer .highlights .property .support-links {
	/*background-position: center -635px;*/
	background-image: url('../img/icn/be-heard.png');}
	
footer .highlights .property .connect-links {
	padding: 50px 20px 0;
	background-position: center 4px;
	background-image: url('../img/icn/get-involved.svg');
	background-size:32px 24px;}

.no-svg footer .highlights .property .connect-links {
	padding: 50px 20px 0;
	/*background-position: center -9px;*/
	background-image: url('../img/icn/get-involved.png');}

footer .highlights .property .connect-links .button {
	font-size: 12px;
	font-weight: normal;
	background: rgba(0, 0, 0, 0.1);
	color: #FFF !important;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	padding: 6px 16px;
}
footer .highlights .global {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
footer .highlights .global .footer-link-block {
	font-weight: normal;
	background: url('../img/icn/learn-more.svg') no-repeat 0 0;
	background-size: contain;	
	display: block;
	margin: 30px 0 0 0;}

.no-svg footer .highlights .global .footer-link-block {
	background-image: url('../img/icn/learn-more.png');}


footer .highlights .global .footer-link-block.services {
	background-position: 0 -198px;
}
footer .highlights .global .footer-link-block.foundation {
	background-position: 0 -398px;
}
footer .highlights .global .footer-link-block.apps {
	background-position: 0 -598px;
}
footer .highlights .global .footer-link-block.expo {
	background-position: 0 -798px;
}
footer .highlights .global .footer-link-block span {
	display: block;
	color: white;
	font-size: 12px;
	padding-left: 40px;
	line-height: 18px;
}
footer .highlights .global .footer-link-block span.title {
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 5px;
}

footer .legal {
	background: #333;
	padding: 24px 0 10px;
}
footer .legal .design-border {
	border-bottom: 1px solid #484848;
	padding-bottom: 5px;
	margin-bottom: 25px;
}
footer .legal a.hills-logo {
	color: #858585;
	font-weight: normal;
	background: url('../img/hills-reverse.svg') no-repeat 0 0;
	background-size:75%;
	padding:25px 0 0 0;
	font-size: 1em;
	display: inline-block;
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 90px;
}

.no-svg footer .legal a.hills-logo {
	background-image: url('../img/hills-reverse.png');}


footer .legal a.hills-logo:hover {
	opacity: 0.8;
}
footer .legal ul.links {
	margin: 0;
	display: inline-block;
}
footer .legal ul.links li {
	display: block;
	float: left;
	right-left: 6px;
	font-family: "Proxima Nova Condensed", "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
}
footer .legal ul.links li a {
	color: #666;
	padding: 3px 6px;
}
footer .legal ul.links li a:hover {
	color: #777;
}
footer .legal p.copyright {
	margin: 6px 0 0;
	font-size: 12px;
	color: #666;
}
footer .legal ul.home-social {
	display: block;
	float: right;
	margin-bottom: 8px;
}
footer .legal ul.home-social li {
	list-style: none;
	display: block;
	float: left;
	margin-left: 10px;
}
footer .legal ul.home-social li:first-child {
	margin-left: 0;
}
footer .legal ul.home-social li a {
	display: block;
	height: 50px;
	width: 50px;
	background: url('../img/icn/social.png') no-repeat center 0;
}
footer .legal ul.home-social li a:hover {
	opacity: 0.8;
}
footer .legal ul.home-social li a.twitter {
	background-position: center 0;
}
footer .legal ul.home-social li a.facebook {
	background-position: center -200px;
}
footer .legal ul.home-social li a.mail {
	background-position: center -400px;
}










.signup {
	background: url(/university/assets/university/signup-bg-2a8ce79293b32ac82705d98c34ff1338.jpg) no-repeat center top;
	height: auto;
	width: 100%;
	background-size: cover;
	padding-top: 67px;
}
.signup .hat-icon {
	width: 90px;
	height: 90px;
	background: url(/university/assets/university/hat-icon-8d3cf66ec65f29138f53add8769d34f7.png) no-repeat center center;
	background-size: 90px 90px;
	position: absolute;
	top: -112px;
	left: 41.3%}
.signup p {
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 40px;
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.signup form {
	margin-left: 15px;
	margin-right: 15px;
}
.signup input[type="text"] {
	height: 50px;
	background: #fff;
	border: none;
	border-right: #ddd 1px solid;
	border-radius: 3px 0 0 3px;
	padding-left: 20px;
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.0625em;
	box-shadow: none;
	float: left !important;
}




@media only screen and (max-width: 767px) {
	.signup input[type="text"] {
	border-radius: 3px;
}
}.signup input[type="email"] {
	height: 50px;
	background: #fff;
	border: none;
	border-radius: 0;
	padding-left: 20px;
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.0625em;
	box-shadow: none;
	float: left !important;
}
@media only screen and (max-width: 767px) {
	.signup input[type="email"] {
	border-radius: 3px;
}
}.signup button {
	height: 50px;
	background: #e2e2e2;
	border: none;
	border-radius: 0 3px 3px 0;
	box-shadow: none;
	color: #333;
	font-size: 1.0625em;
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 70px;
}
.signup button:hover {
	background: #d7d7d7;
}
@media only screen and (max-width: 767px) {
	.signup button {
	border-radius: 3px;
}
}.signup .signup-success {
	display: none;
}
.signup .signup-success p {
	font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: italic;
	margin-bottom: 82px;
}











#homepage-hero	{
	text-align:left;
	min-height:500px;
	position:relative;
	padding:100px 20px 0 20px;
	

background-position: center bottom; padding:100px 0 110px; background-repeat: no-repeat; background-color: #13A7C7;
background-image: url('../img/hero-bg-01.jpg'); /*opacity: 0.8; filter: alpha(opacity=80);*/}


}

@media screen and (max-width: 768px)	{
	#homepage-hero	{
		padding:40px 5px 30px 5px;}
}

@media screen and (max-width: 1024px)	{
	#homepage-hero	{
		height:500px;}
}
#homepage-hero h1	{
	font-size:4em;
	color:white;
	font-weight:500;
	margin-bottom:0;
	line-height:100%;
}

@media screen and (max-width:768px)	{
	#homepage-hero h1	{
		font-size:50px;}
}

#homepage-hero h4	{
	font-size:1.35em;
	color:white;
	font-weight:300;
}

#homepage-hero h3	{
	color:white;}

@media screen and (max-width:768px)	{
	#homepage-hero h3	{
		font-size:18px;
		line-height:28px;}
}

#homepage-hero .floatingyeti img	{
	max-width:50%;
	position:absolute;
	right:100px;
	top:30px;
}

@media only screen and (max-width:40em)	{
	#homepage-hero .floatingyeti img	{
		width:100%;
		position:relative;
		right:0;
		bottom:0px;
		top:0px;
		left:120px;}
}

@media only screen and (min-width: 40.063em) and (max-width:64em)	{
	#homepage-hero .floatingyeti img	{
		width:100%;
		position:absolute;
		right:0;
		bottom:0px;}
}