<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="keywords" content="Eastern Avenue, Lombardy Boulevard, El Sereno, California, CA, Los Angeles" />
	<meta name="description" content="" />
	<meta name="author" content="Nate Tharp - @natetharp" />
	<meta name="copyright" content="@name." />
	
	<title>@name - @page_name</title>
	
	<link rel="icon" href="@root_path/public/img/icn/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="@root_path/public/img/icn/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="@root_path/public/img/icn/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="@root_path/public/img/icn/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="@root_path/public/img/icn/apple-touch-icon-precomposed.png">
	
	<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
	
	<link rel="stylesheet" href="@root_path/public/css/normalize.css">
	<link rel="stylesheet" href="@root_path/public/css/foundation.min.css">
	<link rel="stylesheet" href="@root_path/public/css/docs.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	
	
	<script src="@root_path/public/js/vendor/modernizr.js"></script>
</head>
<body>

<header>

	:navigation
	
	<div role="banner" class="row">
		<div class="large-12 columns">
			<h1>@page_name</h1>
			<h4></h4>
		</div>
	</div>
</header>

<main id="container">
	<div class="row">
		<div class="large-8 columns">
			<section id="@page_name">
				@content
				
				<hr />
				
			</section>
		</div>
		<div class="large-4 columns">
			<aside id="@page_name">
				
			</aside>
		</div>
	</div>
</main>

:footer

</body>
</html>